.bookmark-icon {
  color: #7b61ff;
  font-size: 20px;
  margin-right: 8px;
  transition: transform 0.2s ease;
  color: #ffab61;
  font-size: 20px;
}

.bookmark-icon:hover {
  transform: scale(1.2);
  color: #ff914d;
}
